.show {
  display: block;
}

.hidden {
  display: none;
}

.orders {
  background-color: #f1ece9;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  margin: 0 auto;
  padding: 30px 60px;
}

.card {
  border-radius: 16px;
  background-color: #fff;
}

.cardWraper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 100%;
  height: 280px;
}

.subtitle {
  font-weight: 700;
  font-size: 25px;
}

.dataUser {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.infoUser {
  font-size: 25px;
}
