.caption {
  font-size: 20px;
}

.caption::first-letter {
  text-transform: uppercase;
}

.input {
  border-radius: 10px;
  min-width: 495px;
  height: 30px;
  font-size: 20px;
  padding-left: 20px;
}

.error {
  color: #e52424;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  text-align: center;
}
