.inputFile {
  font-size: 20px;
  border-radius: 10px;
  min-width: 495px;
  height: 35px;
  border: 1px solid #000;
}

::-webkit-file-upload-button {
  visibility: hidden;
}

.inputFile::before {
  content: 'Select some files';
  background-color: #dbc7e1;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  position: relative;
  top: 2px;
}

.caption {
  font-size: 20px;
}

.error {
  color: #e52424;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  text-align: center;
}
