.wrapperMain {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mainImage {
  width: 1640px;
  height: 650px;
}

.shadow {
  position: absolute;
  height: 650px;
  width: 1640px;
  background-color: #000;
  opacity: 0.7;
}

.mainTitle {
  color: #fff;
  font-size: 85px;
  font-weight: 600;
  position: absolute;
  bottom: 20%;
  text-align: center;
  text-transform: uppercase;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
