.input {
  width: 426px;
  height: 80px;
  border: 1px solid #979797;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

::-webkit-file-upload-button {
  visibility: hidden;
}

.input::before {
  content: 'Сharacter appearance';
  background-color: #85bd44;
  padding: 12px;
  border: none;
  outline: none;
  text-align: center;
}

.caption {
  font-size: 20px;
}

.error {
  color: #e52424;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  text-align: center;
}

@media (max-width: 1340px) {
  .input {
    width: 380px;
  }
}
