.cardWrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imageProduct {
  height: 230px;
  width: 100%;
}

.wrapperInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  font-family: 'Gilroy-SemiBold';
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0.25px;
  max-height: 32px;
  overflow: hidden;
}

.description {
  color: #5e5c5b;
  display: -webkit-box;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price {
  font-weight: 800;
}

.likeIcon {
  position: absolute;
  height: 35px;
  width: 35px;
  bottom: -10px;
  right: 0;
}
