.cardWrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.imageProduct {
  width: 270px;
  height: 300px;
}

.description {
  max-height: 47px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 20px;
}
