.cardWrapper {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imageProduct {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 310px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.title {
  font-family: 'Gilroy-SemiBold';
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.25px;
  max-height: 32px;
  font-weight: 900;
  overflow: hidden;
}

.description {
  max-height: 47px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 20px;
}
