.searchWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 30px;
}

.search {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  min-height: 60px;
  min-width: 350px;
  padding-left: 50px;
}

.search:focus {
  outline: none;
}
