.wrapperMain {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mainImage {
  width: 100%;
  height: 650px;
}

.shadow {
  position: absolute;
  height: 650px;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
}

.mainTitle {
  color: #fff;
  font-size: 85px;
  font-weight: 600;
  position: absolute;
  bottom: 25%;
  text-align: center;
  text-transform: uppercase;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  overflow-y: hidden;
}

.hidden {
  display: none;
}
