.main {
  background-color: #0e0f37 ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.label {
  width: 1220px;
  height: 450px;
}

.content {
  padding: 50px 0;
}
