.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
}

.image {
  height: 230px;
  width: 100%;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 16px;
}

.title {
  font-family: 'Gilroy-SemiBold';
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0.25px;
  max-height: 32px;
  overflow: hidden;
}

.description {
  color: #5e5c5b;
  display: -webkit-box;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.price {
  font-weight: 800;
}
