.container {
  background-color: #eae9ee;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
  max-width: 1400px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.contentWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
  width: 70px;
}

.currentPageWrapper {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 25px;
}

.currentPage {
  font-size: 25px;
  font-weight: 700;
}
