.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 80px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.contentWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 55px;
  text-transform: uppercase;
}

.currentPageWrapper {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 25px;
}

.currentPage {
  font-size: 25px;
  font-weight: 700;
}
