.container {
  background-color: #f4f1e9;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  width: 90px;
  height: 90px;
}

.currentPageWrapper {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 25px;
}

.currentPage {
  font-size: 25px;
  font-weight: 700;
}
