.hidden {
  display: none;
}

.container {
  background-color: #0e0f37;
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 320px;
  z-index: 2;
}

.image {
  border-radius: 4px 4px 0 0;
  height: 250px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.values span {
  font-weight: 500;
  text-transform: capitalize;
}

.close {
  margin: 10px;
  position: absolute;
  right: -17px;
  top: -17px;
  width: 35px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  overflow-y: hidden;
}
